/* unvisited link */
.lynx:link {
    color: #589636;
  }
  
  /* visited link */
.lynx:visited {
    color: #589636;
  }
  
  /* mouse over link */
.lynx:hover {
    color:#f7df1e;
    text-decoration: none;
  }
  
  /* selected link */
.lynx:active {
    color: #589636;
  }






/*!Used on Portfolio */
.hbody {
    display: flex;
    flex-direction: row;
    position:relative;
    width: 100vw;
    height: 75vh;
    align-items: center;
    text-align: center;
    background:black;
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
}
/*! Portfolio navigation dashes */
.carousel-indicators li{
    background-color: whitesmoke;
    height: 1vw;
    width: 20vw;
    border-radius: .5rem;
    /* padding-top: .25%; */
    /* padding-bottom: 1%; */
    margin-bottom: 30%;
    margin: .25px;
    z-index: 10;
}
/* Used on images of sites in portfolio */
.image1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    width: auto;
    border-radius: 1.5rem;
    padding: 5px;
    min-width: 100px;
    min-height: auto;
    z-index: 1000;
}
.image1:hover {
    transform: scale(1.00);
    border:  0.125rem double #f7df1e;
    
  
}

 
/* 3 elements of portfolio item display - title, image and technologies */
 #title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 10%;
  margin: -60% 5% 5% 5%;
  width: 25vw;
 }

 .tech {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

 #description {  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: left;
    margin-bottom: 100px;
    margin: 200% 300% 10% 65%;
    word-wrap: break-word;
    font-size: 1.5rem;
 }


 div.carousel-caption {
     z-index: 1;
 }

 
 @media only screen {
   

 }