/*!HORIZONTAL PAGE */
 .hbody {
    position:relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(25, 79, 179);
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    color: hsl(32, 98%, 64%);
   }

 .image1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: auto;
    border-radius: 1.5rem;
    padding: 5px;
    min-width: 100px;
    min-height: auto;
    z-index: 1000;
 }

 .image1:hover {
    transform: scale(0.9);
    border: 0.25rem solid white;
  }

 .carousel-indicators li{
   background-color: whitesmoke;
   height: 1vh;
   width: 20vw;
   border-radius: .75rem;
   margin-bottom: -30%;

 }

 #title {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: flex-start; */
  /* text-align: left; */
  margin-bottom: 10%;
  width: 25vw;
 }

 /* #desc {
    width: 25vw;
    margin-right:0px;
   } */

 #description {  
    display: flex;
    flex-direction: column ;
    justify-content: flex-end;
    text-align: center;
    /* justify-content: center; */
    align-items: right;
    margin-bottom: 100px;
    margin: 200% 300% 0% 75%;
    word-wrap: break-word;
    font-size: 1.5rem;
    /* width: 25vw; */
 }

 /* #descdiv {
    margin-top: -400px;
    margin-right: -100px;
 } */

 div.carousel-caption {
     z-index: 1;
 }
