:root {
  background: black;
  h1 { 
      font-size: 2rem;
  }
  h2 {
      font-size: 1.5rem;
  };
}

.head {
    position:relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    color: hsl(32, 98%, 64%); 
}

.contact {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    text-align: center;
    background: black;
    font-size: 1rem;
    font-family: 'Archivo', sans-serif;
    color: white;
}



    .body {
    position:relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    color: hsl(32, 98%, 64%);
   }
   
   .bodybody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    font-size: 1rem;
    font-family: 'Archivo', sans-serif;
    color: white;
   }

   .navbar {
    width: 100vw;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* text-align: center; */
    font-size: 1.5rem;
    font-family: 'Archivo', sans-serif;
    color: white;
   }

   .divbar {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    align-items: stretch;

   }

   .footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    text-align: center;
    background: black;
    font-size: 1rem;
    font-family: 'Archivo', sans-serif;
    color: hsl(32, 98%, 64%); 
   }

   .aboutBody {
    /* position: absolute; */
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: right;
    align-self: flex-start;
    font-size: .75rem;
    margin-bottom: 175%;
   }

   .imageD {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    align-self: flex-start;
    width: 20vw;
    height: auto;
    border-radius:3rem;
    padding: 1px;
    min-width: 100px;
    min-height: auto;
    margin-bottom: 175%;
}