
:root {
  background: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}

h1 {
  font-size: 2rem;
}
  
h2 {
  font-size: 1.5rem;
}
/* Used on about.js */
.sideByPair {
    display: flex;
    flex-direction: row;
}

.aboutImage {
    position: relative;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    /* align-items: left; */
    background: black;
    border-radius: 15rem;
   
}
.aboutBody {
    position: relative;
    width: 40vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: right;
    align-self: flex-end;
    font-size: .75rem;
    margin-bottom: 5%;
   }

/* Used on contact */
.contact {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    text-align: center;
    background: black;
    font-size: 1rem;
    font-family: 'Archivo', sans-serif;
    color: white;
}



.body {
    position:relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    color: hsl(32, 98%, 64%);
   }

   /* about uses .bodybody*/
.bodybody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    font-size: 1rem;
    font-family: 'Archivo', sans-serif;
    color: white;
   }

   .imageD {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    align-self: flex-start;
    width: 20vw;
    height: auto;
    border-radius:3rem;
    padding: 1px;
    min-width: 100px;
    min-height: auto;
    margin-bottom: 175%;
}

