.head {
    position:relative;
    width: 100vw;
    height: 10vh;
    text-align: center;
    background: black;
    font-size: 2.5rem;
    font-family: 'Archivo', sans-serif;
    /* color: hsl(32, 98%, 64%); */
    /* color: rgb(58, 211, 58); */
    color:   #f7df1e;
     /*FLEX BOX SETTINGS */
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
     align-content:center;
     align-self: flex-start;
}