
.footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 5vh;
    font-size: 1rem;
    font-family: 'Archivo', sans-serif;
    color:#589636;
    padding: 20px, 15px, 15px, 15px;
    /* margin: 2rem; */
    border: 2rem black;
    justify-content: center;
    align-self: flex-end;
    text-align: center;
    background: black;
     
   }
